.chat-bubble {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chat-bubble-pfpspacer {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}

.chat-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
