.chat-bubble {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chat-bubble-pfpspacer {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}
