@import "./chat-bubbles.css";
@import "./fonts.css";

html {
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.01rem;
}
