@import "./chat.css";

html {
  padding: 0;
  margin: 0;
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0%;
}

body {
  padding: 0;
  margin: 0;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
